@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

.App {
    width: 800px;
    height: 600px;
    border: 1px solid gray;
    display: flex;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: "Syne", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 200px;
    height: 100%;
    background-color: gray;
    padding: 30px;
}

li,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.contents {
    width: 600px;
    overflow-y: scroll;
}

ul.drinkUl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

li.drinkLi {
    height: 200px;
    width: calc(33.33333% - 40px);
    margin: 20px;
    text-align: center;
}

li.drinkLi .img {
    width: 100%;
    height: 150px;
}

li.drinkLi .name {
    padding-top: 10px;
}

h3 {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}
